// COLORS
$primary-pink: hsl(322, 100%, 66%);
$neutral-darkcyan: hsl(192, 100%, 9%);
$neutral-paleblue: hsl(207, 100%, 98%);

// FONTS
$font-heading: 'Poppins', sans-serif;
$font-body: 'Open Sans', sans-serif;