// import base styles
@import 'base';

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

    font-family: 'Open Sans', sans-serif;
}

// HEADER

.header {
    
    display: flex;
    flex-direction: row;
    align-content: space-between;

    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;

    &_logo {
       

        img {
            height: 90%;
            width: 100%;
        }
    }

    &_button {
        margin-left: auto;

        color: $primary-pink;
        border: 1px solid $primary-pink;
        border-radius: 4rem;
        padding: 1rem;
        width: 12rem;
        
        font-size: 1.5rem;
        text-align: center;

    }

}

// MAIN

.main {

    padding-top: 14rem;

    &_heading {

        text-align: center;

        h1 {
            font-family: $font-heading;
            font-size: 4.8rem;
            color: $neutral-darkcyan;
        }

        p {
            margin-left: 36rem;
            margin-right: 36rem;

            color: $neutral-darkcyan;
            font-size: 2rem;
        }

        &--button {
            display: inline-block;

            color: white;
            font-size: 2rem;
            font-weight: 700;
            background-color: $primary-pink;

            padding: 3rem;
            width: 34rem;
            border-radius: 9rem;
            box-shadow: 5px 12px 38px -10px #000000;

        }
    }

    &_headimage {

        text-align: center;
        padding-top: 14rem;

        &--img {
            
            img {
                height: 40%;
                width: 75%;
            }

        }

        &--stats {

            display: flex;
            padding-left: 19%;

            .headimage--stats--left {
                display: grid;
                grid-template-rows: 1rem, 2rem, 1rem;
                grid-template-columns: 1fr;
                
                padding-top: 8rem;
                

                .stats--img {
                    display: block;
                    text-align: left;
                }

                .stats--head {
                    color: $neutral-darkcyan;
                    font-size: 8rem;
                    font-weight: 700;
                }

                .stats--text {
                    color: hsla(192, 100%, 9%, .5);
                    font-size: 1.7rem;
                }
            }

            .headimage--stats--right {
                display: grid;
                grid-template-rows: 1rem, 2rem, 1rem;
                grid-template-columns: 1fr;
                
                padding-top: 8rem;
                padding-left: 34%; 

                .stats--img {
                    display: block;
                    text-align: left;
                }

                .stats--head {
                    color: $neutral-darkcyan;
                    font-size: 8rem;
                    font-weight: 700;
                }

                .stats--text {
                    color: hsla(192, 100%, 9%, .5);
                    font-size: 1.7rem;
                }
            }
        }

    }

    &_features {
        
        &--bgtop--1 {
            background-image: url(../images/bg-section-top-desktop-1.svg);
            background-size: cover;
            height: 16.5rem;
        }

        &--item--1 {            
            background-color: $neutral-paleblue;

            display: grid;
            grid-template-rows: 45rem;
            grid-template-columns: 1fr 1fr; 

            padding-top: 4rem;
            padding-left: 7rem;

            .features--item--text {
                padding-right: 15rem;
                padding-top: 14rem;

                .item--text--head {
                    font-size: 3.5rem;
                    font-family: $font-heading;
                    color: $neutral-darkcyan;
                }

                .item--text--sub {
                    padding-top: 2rem;
                    font-size: 1.5rem;
                }

            }

            .features--item--img {
                padding-left: 3.5rem;


                img {
                    height: 40rem;
                    width: 47rem;
                }

            }

            
        }

        &--bgbtm--1 {
            background-image: url(../images/bg-section-bottom-desktop-1.svg);
            background-size: cover;
            height: 13.8rem;
        }

        &--item--2 {            
            display: grid;
            grid-template-rows: 55rem;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "image text"; 

            padding-top: 6rem;
            padding-left: 7rem;

            .features--item--text {
                grid-area: text;
                padding-right: 15rem;
                padding-top: 14rem;

                .item--text--head {
                    font-size: 3.5rem;
                    font-family: $font-heading;
                    color: $neutral-darkcyan;
                }

                .item--text--sub {
                    padding-top: 2rem;
                    font-size: 1.5rem;
                }

            }

            .features--item--img {
                grid-area: image;
                padding-left: 3.5rem;


                img {
                    height: 42rem;
                    width: 46rem;
                }

            }

            
        }

        &--bgtop--2 {
            background-image: url(../images/bg-section-top-desktop-2.svg);
            background-size: cover;
            height: 15.6rem;
        }

        &--item--3 {            
            background-color: $neutral-paleblue;

            display: grid;
            grid-template-rows: 45rem;
            grid-template-columns: 1fr 1fr; 

            padding-top: 4rem;
            padding-left: 7rem;

            .features--item--text {
                padding-right: 15rem;
                padding-top: 14rem;

                .item--text--head {
                    font-size: 3.5rem;
                    font-family: $font-heading;
                    color: $neutral-darkcyan;
                }

                .item--text--sub {
                    padding-top: 2rem;
                    font-size: 1.5rem;
                }

            }

            .features--item--img {
                padding-left: 3.5rem;


                img {
                    height: 40rem;
                    width: 49rem;
                }

            }

            
        }

        &--bgbtm--2 {
            background-image: url(../images/bg-section-bottom-desktop-2.svg);
            background-size: cover;
            height: 13.9rem;
        }
    }

    &_contact {
        height: 45rem;
        text-align: center;
        padding-top: 14rem;

        &--heading {
            font-size: 3.5rem;
            font-family: $font-heading;
            color: $neutral-darkcyan;

            padding-bottom: 6rem;
        }

        &--button {

            display: inline-block;

            color: white;
            font-size: 2rem;
            font-weight: 700;
            background-color: $primary-pink;

            padding: 3rem;
            width: 34rem;
            border-radius: 9rem;
            box-shadow: 5px 12px 38px -10px #000000;

        }

    }

}

// FOOTER
.footer_bgtop {
    background-image: url(../images/bg-footer-top-desktop.svg);
    background-size: cover;
    height: 15.8rem;
}

.footer {
    background-color: $neutral-darkcyan;
    color: white;

    display: grid;
    grid-template-rows: 60rem;
    grid-template-columns: 1fr 1fr;


    &_info {
        padding-left: 20%;
        padding-top: 20rem;
        width: 30rem;

        &--text {
            padding-top: 2rem;
            font-size: 1.5rem;
            font-weight: 600;
        }

        &--contact {
            padding-top: 2.5rem;
            font-size: 1.5rem;
            line-height: 2;

            ion-icon {
                font-size: 2.5rem;
                padding-right: 1.5rem;
            }
        }

        &--social {
            padding-top: 6rem;
            font-size: 4rem;

            ion-icon {
                padding-right: 2rem;
            }
        }

    }

    &_subscribe {
        padding-left: 8rem;
        padding-right: 4rem;
        padding-top: 19rem;

        &--heading {

            h1 {
                font-size: 2.2rem;
                text-transform: uppercase;
            }

            p {
                padding-top: .5rem;
                font-size: 1.5rem;
                font-weight: 600;
            }


        }

        &--input {
            padding-top: 5rem;

            input {
                height: 3.5rem;
                width: 35rem;
                border: none;
                border-radius: .9rem;
            }

            button {
                background-color: $primary-pink;
                color: white;
                font-weight: 700;
                font-size: 1.5rem;

                height: 3.8rem;
                width: 15rem;
                border: none;
                border-radius: .9rem;
                margin-left: 3rem;
            }

        }

    }

}

// RESPONSIVE
@import 'responsive';